@page "/exams/edit/{Id}"
@inherits RuiComponentBase<EditViewModel>

<PageContainer>
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>Home</BreadcrumbItem>
            <BreadcrumbItem>Exams</BreadcrumbItem>
            <BreadcrumbItem>@ViewModel.Name</BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>
    <Content>
        <div style="text-align: center;">
            <Search Placeholder="Please Enter" @bind-Value="ViewModel.SearchText"
                    EnterButton="@("Search For")"
                    Size="large"
                    Style="max-width: 522px; width: 100%;" 
                    OnSearch="() => Search()" />
        </div>
    </Content>
    <ChildContent>
        <Skeleton Loading="IsLoading">
            <AntList TItem="QuestionViewModel"
                     Context="listItemContext"
                     Size="large"
                     ItemLayout="ListItemLayout.Vertical"
                     DataSource="@ViewModel.Items">
                <ListItem>
                    <ListItemMeta>
                        <DescriptionTemplate>
                            <Preview Markdown="@listItemContext.Title" />
                            @foreach (var item in listItemContext.Options)
                            {
                                if (listItemContext.QuestionType == QuestionTypes.DragDrop)
                                {
                                    <Alert Type="@AlertType.Success"
                                           Message="@($"{item.Name}-{item.AnswerText}")" />
                                }
                                else
                                {
                                    if (item.IsCorrect)
                                    {
                                        <Alert Type="@AlertType.Success"
                                               Message="@($"{item.Name}")" ShowIcon="true" />
                                    }
                                    else
                                    {
                                        <Alert Type="@AlertType.Error"
                                               Message="@($"{item.Name}")" ShowIcon="true" />
                                    }
                                }
                            }
                        </DescriptionTemplate>
                    </ListItemMeta>
                </ListItem>
            </AntList>
            <Pagination Current="ViewModel.PageNumber" Total="ViewModel.Total" PageSize="ViewModel.PageSize" OnChange="(index) => Search()"></Pagination>
        </Skeleton>
    </ChildContent>
</PageContainer>

@code {

}